* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .btn__header1 {
        display: none;
    }

    .label__ham {
        display: flex;
        color: wheat;
        cursor: pointer;
    }

    .nav__list {
        display: none;
    }
    #menu__han:checked + .nav__list {
        background: linear-gradient(rgba(0, 0, 0, 0.349)),url(./img/fondo.pagina.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        flex-direction: column;
        position: absolute;
        top: 150px;
        left: 0;
        border: none;
        border-radius: 0;
        padding: 20px 0;
        overflow: scroll;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .link {
        font-size: 20px;
        text-transform: uppercase;
        border: 1.5px solid rgba(165, 7, 250, 0.639);
        padding: 5px;
        background: rgba(166, 2, 255, 0.201);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

    .nav__item:hover {
        border: 0;
        background-color:rgba(131, 15, 240, 0) ;
    }

    .line__nav { 
        display: flex;
        width: 100%;
        border: 1px solid rgba(62, 2, 244, 0.432);
    }

    .botones__header{
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    .nav__item1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 255, 0.553);
        padding: 10px 15px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .link1 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 20px;
    }


}

