* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .btn__header1 {
        display: none;
    }

    .label__ham {
        display: flex;
        color: wheat;
        cursor: pointer;
    }

    .nav__list {
        display: none;
    }
    #menu__han:checked + .nav__list {
        background: linear-gradient(rgba(0, 0, 0, 0.379)),url(./img/fondo.pagina.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        flex-direction: column;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        border: none;
        border-radius: 0;
        padding: 20px 0;
        overflow: scroll;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .link {
        font-size: 20px;
        text-transform: uppercase;
        border: 1.5px solid rgba(165, 7, 250, 0.639);
        padding: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

    .nav__item:hover {
        border: 0;
        background-color:rgba(131, 15, 240, 0) ;
    }

    .line__nav { 
        display: flex;
        width: 100%;
        border: 1px solid rgba(236, 2, 244, 0.432);
    }

    .botones__header{
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    .nav__item1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(236, 2, 244, 0.174);
        padding: 10px 15px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .link1 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 20px;
    }

    /* main */
    .main {
        margin-top: 20px;
    }
    .hero{
        padding: 0 10px;
    }


     .img1__hero {
        width: 150px;
        height: 150px;
    }

    .content__card__inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .content__card__inicio h2 {
        font-size: 12px;
        text-align: center;
    }
    
    .content__card__inicio p {
        text-align: center;
    }

    .btn__hero__card {
        font-size: 12px;
        text-align: center;
    }

}

@media (max-width: 576px) {
    .main {
        margin-top: 20px;
    }
    .hero {
        display: flex;
        flex-direction: column;
    }

    .logo__header {
        max-width: 50px;
    }

    .hero__info h1 {
        font-size: 25px;
    }

    .hero__info p {
        font-size: 10px;
    }

    .btn__hero {
        font-size: 10px;
        padding: 10px;
    }

    .hero__card {
        padding: 20px 100px;
    }

    .img1__hero {
        width:  150px;
        height: 150px;
    }

    .content__card__medio {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .btn__hero__card {
        text-align: center;
    }

    .logo__header {
        max-width: 100px;
    }

    .content__card__hero {
        margin-top: 10px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .img1__hero {
        width: 200px;
        height: 200px;
    }

    .hero__card {
        padding: 30px;
    }

    .content__card__inicio h2 {
        text-align: center;
    }


    
}



