* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: linear-gradient(#0000005a),url(./img/fondo.pagina.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.639)),url(./img/fondo\ nav.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.logo__header {
    width: 150px;
    height: 150spx;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.logo__ham {
    color: white;
}

.input__ham,
.label__ham {
    display: none;
}

.nav__list {
    width: 400px;
    background-color: black;
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 255, 0.701);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.nav__item:hover {
    background-color: rgba(131, 15, 240, 0.212);
    padding: 0 5px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 255, 0.495);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.link {
    color: rgba(255, 255, 255, 0.817);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.btn__header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
}

.btn__header {
    background: black;
    border: 1px solid blue;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}

.nav__item1 {
    display: none;
}

.line__nav {
    display: none;
}





